.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.0rem;
}



.form-control:focus {
    color: #212529;
    background-color: #e5eaf0;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.0rem rgb(13 110 253 / 0%);
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.0rem rgba(0,0,0,.0);
}


::placeholder {
    color: #000;
  }
  ::-ms-input-placeholder { 
    color: #000;
  }
  .form-select:focus {
  
    box-shadow: none;
}
.modal-header .btn-close {
  position: absolute;
  z-index: 1;
  background: #0c0c45;
  border-radius: 6px;
  right: 20px;
  z-index: 111;
  top: 20px;

  }
  .btn-close:before {
    transform: rotate(135deg);
  
  }
  
  .btn-close:after {
    transform: rotate(45deg);
  
  }
  .btn-close:before,
  .btn-close:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background: #fff;
    left: 4px;
    top: 15px;
  }
  .btn-close {
    background-image: none;
    opacity: 1;
    position: relative;
}    